
          <h5>Directives</h5>
       
          <hr>

        <div *ngIf="courses.length > 0; then list else checkcourses">List of courses </div>
        <!-- <div *ngIf="courses.length == 0">No courses yet</div> -->
        <ng-template #list>
       <ul>
         <li>Courses 1</li>
         <li>Courses 2</li>
         <li>Courses 3</li>
       </ul>
        </ng-template>
        <ng-template #checkcourses>
          No courses yet
        </ng-template>


        <hr>
<div [hidden]="courses.length > 0">
 Courses not available
</div>
<div [hidden]="courses.length == 0">
  Courses available
</div>
<hr>

      <ul class="nav nav-pills">
        <li [class.active]="viewmode == 'map'" class="active"><a  class="btn btn-primary" (click)="viewmode = 'map'">Map</a></li>
        <li [class.active]="viewmode == 'list'"><a class="btn btn-primary" (click)="viewmode = 'list'">List</a></li>
   
      </ul>

      <div [ngSwitch] = "viewmode">
        <div *ngSwitchCase="'map'">Map Content</div>
        <div *ngSwitchCase="'list'">List Content</div>
        <div *ngSwitchDefault>Switch Default</div>
      </div>
      
    
      <hr>
      <h6>ngFor</h6>
     <button class="btn btn-primary" (click)="add()">Add</button> 
<ul>
    <li *ngFor="let school of schoolLlist; index as i; even as isevenrow">
     {{i}} - {{school.name}}  <span *ngIf="isevenrow">Even row</span>
      </li>

</ul>
      
   

