
<h5>Template-Driven Forms</h5>
<div class="row">
<div class="col-md-4">
<form autocomplete="off" #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
  <label>First name</label>
  <input type="text" class="form-control" 
  minlength="3" 
  maxlength="10" 
  pattern="[a-zA-Z\s]+$"
  ngModel 
  name="name" 
  (change)="log(name)"
  #name="ngModel" 
  required>
  <div class="alert alert-danger alert-sm paddind-5clear" *ngIf="name.touched && !name.valid">*
    <div *ngIf="name.errors.minlength">Min</div>
    <div *ngIf="name.errors.maxlength">Max</div>
    <div *ngIf="name.errors.pattern">Pattern</div>

  </div>
</div>

<div class="form-group"><label><input type="checkbox"></label></div>
  
<button class="btn btn-primary" [disabled]='!f.valid'>Submit</button>

</form>
</div>
</div>