
body{

  color: #333;  
}.content-sec{

    margin-top: 25px
}

.content-sec{

    margin-top: 25px
}

.list-group-item{

    border-radius: 2px!important 
}
a.list-group-item {
    color: #333;  
}
a.list-group-item.active {
    color: #fff;  
}
a.list-group-item.active:hover {
    background-color: #007bff;
    border-color: #007bff;
}
a.list-group-item:hover {
   background: #f6f6f6
}


a.list-group-item:hover {
    background: #f6f6f6
 }

 