

<!--  
  <div class="container" style="height:1500px">
    <div class="alert alert-primary">
      <strong>Main Component</strong>
    </div>
    <app-comp1></app-comp1>
    <app-directives></app-directives>
    <app-templete-forms></app-templete-forms>
  </div> -->




    <nav class="navbar navbar-dark bg-dark">
      
<div class="container">
        <a class="navbar-brand" href="#">Angular App</a>
      </div>
      </nav>
      <div class="container content-sec">
        <div class="row">
  <div class="col-md-3">
      <div class="list-group">

<a routerLink="/introduction" class="list-group-item"  routerLinkActive="active">Introduction and Notes</a>
<a routerLink="/typescript" class="list-group-item"  routerLinkActive="active">TypeScript Fundamentals</a>
<a routerLink="/displaying-data" class="list-group-item" routerLinkActive="active">Displaying Data and Handling Events</a>
<a routerLink="/directives" class="list-group-item" routerLinkActive="active">Directives</a>
<a routerLink="/templete-forms" class="list-group-item" routerLinkActive="active">Template-driven Forms</a>
<!-- <a routerLink="/templete-forms" class="list-group-item">Reactive Forms</a>
<a routerLink="/templete-forms" class="list-group-item">Consuming HTTP Services</a>
<a routerLink="/templete-forms" class="list-group-item">Routing and Navigation</a>  -->
        </div>
        
  </div>
  
  <div class="col-md-9 right">
      <router-outlet></router-outlet>
  </div>
</div>
</div>


  
  

