
    
      <h5>Displaying Data and Handling Events</h5>
    
      <h6>Print object</h6>
      <hr>
      <p>
        {{person.name}}, {{person.age}}, {{person.phone}}, {{person.grade.tenth}}, {{person.grade.twelth}}
      </p>
      
      
      
      
      <h6>*ngFor</h6>
      <ul *ngIf='arr1.length >4'>
        <li *ngFor="let friendlist of arr1">{{friendlist.name}}, {{friendlist.age}}, {{friendlist.phone}}</li>
      
      </ul>
      

      <h6>Bind Work</h6>
      <hr>
      
      
      <p>
        <button class="btn btn-primary" (click)="counter()">Count</button>
      </p>
      <p>
        <button class="btn btn-sm" (click)="dec()">Dec</button>
        <span [style.font-size.px]="fontSize"> Font Size </span>
        <button class="btn  btn-sm" (click)="inc()">Inc</button>
      </p>
      <p>
        <button class="btn btn-sm" (click)="reset()">Reset</button>
      
      </p>
      <p>Two way bininding: {{fontSize}}</p>
      
      
      
      <h6>Two Way Binding</h6>
      <hr>


      <div class="card">
        <input [(ngModel)]='textVal' class="form-control">
        <p>{{textVal}}</p>
      </div>
      
      <hr>
      <div class="card">
        <label for='inputBox'></label>
        <input type='text' name='inputBox' [value]="text" (input)='txt=$event.target.value'>
        <p>{{txt}}</p>
        </div>
      
      
      <!-- <div class="card">
      
        <input type='text' name='' (keyup)='onKeyUp($event)'>
        <p>{{values}}</p>
        </div> -->


